p{
    color: rgb(39, 1, 193);
       text-align: center;
    font-family:initial;
    font-size:30px;   
}
.second {
    color:rgb(221, 18, 160);
    background-color: rgba(214, 226, 234, 0.5);
    text-align: center;
    font-family: cursive;
    font-size:x-large;
}
h3{
    color:rgb(83, 0, 161);
    text-decoration:underline;
}
div p{
    color:brown;
}
.chptwo{
    text-align: justify;
    font-family: cursive;
    color:darkslategrey;
   background-color: rgb(172, 204, 225); 
   border-style: dashed;
   margin: 50px;
   border-radius: 5px;
   padding: 10px;
       font-size:20px;   
}
.chpone{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(104, 104, 0);
    background-color: rgb(201, 197, 130);
    border:10px dotted black;
    margin: 50px 30px;
    padding: 20px 10px;
        font-size:22px;
}
.chpthree{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:violet;
    background-color: rgb(118, 12, 216);
    border: 10px;
    border-radius: 10px;
    border-style:double;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 40px;
    padding: 40px 30px;
    font-size:20px;  
    
}
h2{
    text-decoration: underline;
    color:palevioletred;
    text-transform: uppercase ; 
}
.para{
    font-family:cursive;
    text-align:justify;
    font-size:large;
    border-style:groove;
}

